@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@500;700&family=Roboto&display=swap");
/* VARIABLES */
/* @import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@500;700&family=Roboto&display=swap"); */

:root {
  /* Colours */
  --colour-sage: #86907d;
  --colour-biscuit: #f0d989;
  --colour-black: #111;
  --colour-white: #fff;
  --colour-grey-dark: #525252;
  --colour-grey-mid: #e0e0e0;
  --colour-library-green: #5a684c;

  --font-heading: "Cormorant", Arial, sans-serif;
  --font-body: "Roboto", Arial, sans-serif;

  /*  Breakpoints */
  /* Unfortunately variables cannot be used inside media query declarations with plain CSS! (They can with Sass/SCSS though) */
  /* 
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px; 
    */

  /* Spacing */
  --space-xs: 10px;
  --space-sm: 20px;
  --space-md: 30px;
  --space-lg: 40px;
  --space-xl: 70px;
  --space-xxl: 130px;

  /* Container */
  --max-width: calc(100vw - var(--space-lg));
  --max-width--mobile-large: calc(100vw - var(--space-lg));
  --max-width--tablet: calc(100vw - var(--space-lg) * 2);
  --max-width--desktop: 60rem; /* 960px */
  --max-width--desktop-large: 85rem; /* 1360px */

  --header-height: 60px;
  --header-height-tablet: 80px;








  COMMON STYLES html,
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  main {
    overflow: hidden;
  }
  
  ul {
    /* margin: 0; */
    padding-left: 0;
    list-style: none;
  }
  
  img {
    /* width: 100%; */ 
    max-width: 100%;
    /* height: 100%; */
    /* object-fit: cover; Don't forget this to avoid distorting the image */
  }
 
  
  /* Layouts */
  .container {
    width: 100%;
    /* display: flex; */
    margin-inline: auto;
     width: var(--max-width);
  }
  
  @media screen and (min-width: 768px) {
    .container {
      max-width: var(--max-width--tablet);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .container {
      max-width: var(--max-width--desktop);
    }
  }
  
  @media screen and (min-width: 1440px) {
    .container {
      max-width: var(--max-width--desktop-large);
    }
  }
  
  /* Buttons */
  .button {
    padding: 16px 50px;
    font-family: var(--font-heading);
    font-size: 21px;
    border: 0;
    transition: all 0.2s ease-in;
    cursor: pointer;
    white-space: nowrap;
    display: block;
    opacity: 1;
  }
  
  .button--primary {
    border: 1px solid var(--colour-sage);
    color: var(--colour-sage);
    background-color: var(--colour-white);
  }
  
  .button--primary:hover {
    color: var(--colour-white);
    background-color: var(--colour-sage);
    transition: all 0.2s ease-in;
  }
  
  .button--secondary {
    color: var(--colour-white);
    background-color: var(--colour-sage);
  }
  
  .button--secondary:hover {
    background-color: var(--colour-library-green);
    transition: all 0.2s ease-in;
  }
  
  @media screen and (min-width: 560px) {
    .button {
      padding: 20px 80px;
    }
  }
  
  /* Components */
 
  /* .logo {
    display: flex;
    align-items: center;
  } */
  
  nav {
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    /* padding-right: 20px; */
  }
  
  
  /* nav li {
    /* font-family: var(--font-heading); */
 /* } */
     
  nav li a {
    color: var(--colour-white);
    text-decoration: none;
    font-size: 20px;
  }
  
  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--colour-library-green);
    color: var(--colour-white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(90vh - var(--header-height));
  }
  
  .hero .text {
    justify-content: center;
  }
  
  @media screen and (min-width: 576px) {
    
  /* nav ul {
    display: flex;
    
  } */
    .hero {
      height: 80vh;
      min-height: 450px;
    }
  
    .hero .text {
      max-width: 60%;
    }
  }
  @media screen and (min-width: 768px) {
    .hero {
      height: calc(90vh - var(--header-height-tablet));
    }
    .hero .text {
      max-width: 50%;
    }
  }
  @media screen and (min-width: 1440px) {
    .hero .text {
      max-width: 40%;
    }
  }
  
  /*  CTA block */
  .cta-block {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--colour-library-green);
    color: var(--colour-white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(90vh - var(--header-height));
    /* For the overlay */
    position: relative;
    margin-bottom: var(--space-lg);
  }
  /* the overlay */
  .cta-block:after {
    position: absolute;
    content: ""; /* Don't forget this or it will not appear */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(15, 15, 15, 0.2);
    z-index: 0;
  }
  
  .cta-block .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  @media screen and (min-width: 576px) {
    .cta-block {
      height: 80vh;
      min-height: 450px;
    }
  
    .cta-block .content {
      max-width: 60%;
    }
  }
  @media screen and (min-width: 768px) {
    .cta-block {
      height: calc(90vh - var(--header-height-tablet));
    }
    .cta-block .content {
      max-width: 50%;
    }
  }
  
  /* Utilities */
  .underline {
    text-decoration: underline;
  }
  
  .hide-mobile {
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    .hide-mobile {
      display: block;
    }
  }
   


  /* Fonts */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* font-family: var(--font-heading);    */
    margin-block: 0;
    line-height: 1.1;
  }
  
  h1 {
    font-weight: 500;
    font-size: 54px;
  }
  h2 {
    font-weight: 500;
    font-size: 45px;
  }
  h3 {
    font-weight: 500;
    font-size: 30px;
  }
  h4 {
    font-weight: 500;
    font-size: 50px;
    color: var(--colour-biscuit);
  }
  h5 {
    font-weight: 700;
    font-size: 24px;
     
  }
  
  p,
  .p--reg {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
  }
  
  .p--lg {
    font-size: 19px;
  }
  .p--sm {
    font-size: 14px;
  }
  button{
    /* font-family: var(--font-heading); */
  }
  
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 64px;
    }
    h2 {
      font-size: 64px;
    }
    h3 {
      font-size: 34px;
    }
    h4 {
      font-size: 61px;
    }
    h5 {
      font-size: 30px;
    }
  
    p,
    .p--reg {
      font-size: 17px;
    }
    .p--lg {
      font-size: 22px;
    }
    .p--sm {
      font-size: 15px;
    }
  }
  
  @media screen and (min-width: 1024px) {
  }
  
  @media screen and (min-width: 1440px) {
    h1 {
      font-size: 88px;
    }
    h2 {
      font-size: 80px;
    }
    h3 {
      font-size: 40px;
    }
    h4 {
      font-size: 81px;
    }
    h5 {
      font-size:40px;
    }
    p,
    .p--reg {
      font-size: 21px;
    }
  
    .p--lg {
      font-size: 26px;
    }
    .p--sm {
      font-size: 16px;
    }
  }
  
 

/* 
@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
  }
  .navbar1 {
    padding-inline: 50px;
  }
}

@media screen and (min-width: 1000px) {
  .navbar1 {
    padding-inline: 70px;
  }
  
} */


}



